{% extends "layout.html" %}

{% block content %}


 
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message[1] }} </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="" method="post" novalidate="novalidate"> <!--prevents HTML5 popup-->
        {{ form.csrf }} 
        <div class="form-group">
            {{ form.name_field.label }} {{ form.name_field }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>



{% endblock %}
