{% extends "layout.html" %}

{% block content %}


 
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message[1] }} </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="" method="post">
        {{ form.csrf }} 
        <div class="input text">
            {{ form.name.label }} {{ form.name }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>



{% endblock %}
