{% extends "layout.html" %}

{% block content %}

<div class="jumbotron text-left">
    <div class="container">
    <h1 class="jumbotron-heading">Forms</h1>
    <p class="lead">Enter some stuff</p>
    <p><a href="{{ url_for('form') }}" class="btn btn-primary btn-large">Start Here &raquo;</a></p>
    </div>
</div>

<!--<div class="row">
    <div class="col-md-4">
        <h2>Form</h2>
        <p>
            Come here for the forms
        </p>
        <p><a class="btn btn-default" href="{{ url_for('form') }}">Form &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>-->

{% endblock %}
